<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>MTNC Services</title>
</head>
<body>
    <div class="header">
        <h1>Mohican Top<br> Notch Catering</h1>
        <img src="{{ url_for('static', filename='images/Mohican Top Notch Catering-logos_white.png') }}" alt="">
        <div class="header_right">
            <a href="/">Home</a>
            <a href="#">Contact</a>
            <a href="#">View Menu</a>
        </div>
    </div>
        <div class="main_body">
            <h1>Services Offered</h1>
            <hr>
            <h2>Event Catering:</h2>
            <p>Mohican's Top Notch Catering specializes in providing exceptional
            catering services for a variety of events, ranging from intimate gatherings
            to grand celebrations. Our off-site and on-site catering options offer personalized menus,
            themed presentations, and an infusion of rustic elegance into every culinary experience.</p>
            <h2>Customized Gift Baskets:</h2>
            <p>We pride ourselves on curating personalized gift baskets tailored to suit various occasions.
            Our gift baskets feature an array of delectable items, carefully selected to showcase the
            finest local produce and artisanal treats. From charcuterie selections to specialty 
            items like pinwheels and chocolate-covered strawberries, each basket is crafted to 
            delight the recipient.
            </p>
            <h2>Charcuterie and Fresh Produce Pick-Up:</h2>
            <p>For those seeking a taste of sophistication and freshness, we offer the convenience of
            in-store pick-up for charcuterie boards, fruit baskets/trays, and other specialty items.
            Customers can select from our range of carefully curated offerings or place customized
            orders for their specific preferences.</p>
            <h2>Food Allergies and Freshness:</h2>
            <p>At Mohican's Top Notch Catering, we prioritize the well-being of our clients by paying meticulous
            attention to food allergies and maintaining the utmost freshness in our offerings. Our culinary
            team takes special care to accommodate dietary restrictions and preferences, ensuring each dish is
            crafted with the highest quality, locally sourced ingredients.</p>
            <h2>Commitment to Quality</h2>
            <p>We are committed to delivering not just food but an experience. Our dedication to sourcing fresh,
            local produce and our unwavering attention to detail in every aspect of our service set us apart. Customers
            can trust that their catering, gift baskets, or pick-up items from Mohican's Top Notch Catering are crafted
            with care and dedication</p>
        </div>
        <div class="footer">
            &copy; 2023 Mohican Top Notch Catering Company, Webiste Created by Ryan Bollinger, <a href="#">view privacy policy</a>
        </div>
</body>
</html>