body {
    background-image: url("C:\Users\Ryan Bollinger\OneDrive\Desktop\Mohican Top Notch Catering\static\Images\download.jpg");
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header {
    border: solid gold;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header h1 {
    margin: 0;
    font-size: 2em;
    font-weight: 600;
    margin-right: -600px; /* Adjust the margin as needed */
}

.header img {
    max-width: 200px; /* Adjust the max-width as needed */
    height: auto;
    margin-top: 10px;
}

.header_right {
    margin-top: 20px;
}

.header_right a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.2em;
}

.main_body {
    margin-left: 150px;
    margin-right: 150px;
    padding: 20px;
    text-align: center;
}

.slideshow-image {
    max-width: 100%; /* Set maximum width to 100% of the container */
    max-height: 300px; /* Set maximum height as needed */
    display: none; /* Hide images by default */
    margin: 0 auto;
}
.sstxt{
    text-align: center;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}